<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Sudoku_Solver</title>
  <link rel="stylesheet" href="../static/css/var.css">
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
</head>
<body>
  
 <div class="login">
	<h1>Sudoku Solver</h1>
  
  <form action="{{ url_for('var')}}"method="post" enctype=multipart/form-data>
    <div class="image-input">
      <input type="file" accept="image/*" id="imageInput" name="mainImage">
      <label for="imageInput" class="image-button">Choose image</label>
      <img src="" class="image-preview">
      
      <span class="change-image">Choose different image</span>
    </div>
    <input type="text" value="" name="imp" id="bs" class="hidden"/>
      <button type="submit" class="btn btn-primary btn-block btn-large">See output</button>
  </form>
 </div>
 <script src="../static/js/var.js"></script>
</body>
</html>